body {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Nanum Myeongjo', serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    text-align: center;
}

a#logo {
    font-family: Abril Fatface;
    font-size: 88pt;
    margin-top: 10px;
    margin-bottom: 30px;
    text-decoration: none;
    color: inherit;
}

p {
    text-align: center;
    margin: 0
}

.explain {
    font-family: Nanum Myeongjo;
    font-size: 15pt;
    margin-top: 0px;
    margin-bottom: 150px;
}

.button {
    font-family: Abril Fatface;
    font-size: 30pt;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0
}
.Receive_button,
.Send_button,
.sendmanager,
.send_to_cloud,
.file_select_rac,
.send_result_rec,
.receievemanager,
.receieve_to_PC,
.code_input_rac {
    position: relative;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0)fff;
    border: 3px solid black;

}
.Receive_button {
    top: -25px;
    left: 100px;
    width: 200px;
    height: 50px;
    border-radius: 10px 10px 25px 25px;
}

.Send_button {
    top: -140px;
    left: 100px;
    width: 200px;
    height: 50px;
    border-radius: 25px 25px 10px 10px;
}

.little_title {
    font-family: Abril Fatface;
    text-decoration: none;
    color: inherit;
    font-size: 30pt;
    margin-top: -30px;
    margin-bottom: 0px;
}

.sendmanager,
.receievemanager {
    top: -55px;
    left: 200px;
    width: 400px;
    height: 105px;
    border-radius: 25px 25px 25px 25px;
    margin-top: 260px;
}

.send_result_rec {
    top: -55px;
    left: 200px;
    width: 400px;
    height: 300px;
    border-radius: 25px 25px 25px 25px;
    margin-top: 200px;
    margin-bottom: -130px;
}

#sendoutput {
	color: rgb(0, 0, 0);
    position: relative;
    cursor: pointer;
	border: none;
    top: -29px;
    left: 7px;
    width: 280px;
	padding: 10px;
    font-size: 18px;
    font-family: Nanum Myeongjo;
}

.send_to_cloud,
.receieve_to_PC {
    top: -54px;
    left: 355px;
    width: 75px;
    height: 50px;
    border-radius: 5px 20px 20px 5px;
    background-color: gray;
}

.receieve_to_PC {
    top: -3px;
}

.file_select_rac,
.code_input_rac {
    top: 53px;
    left: 157px;
    width: 300px;
    height: 50px;
    border-radius: 20px 5px 5px 20px;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

p#share_code {
    margin-top: 260px;
    font-size: 30px;
}