/* 변수 */
html {
    --Eng-fonts: Noto Sans;
    --Kor-fonts: Noto Sans KR;
    --logo-fonts: 'Giants-Inline';
    --explain-fonts: 'KCC-eunyoung';

    --color1: var(--black-color1); /* 배경 밑 제목 */
    --color2: var(--black-color2); /* 버튼, 버튼 활성화 */
    --color2-act: var(--black-color2-act);
    --color3: var(--black-color3);
    --color4: var(--black-color4); /* 박스 배경 */

    --black-color1: rgb(255,255,255);
    --black-color2: #474747;
    --black-color2-act: #282828;
    --black-color3: #747474;
    --black-color4: #aaaaaa;

    --red-color1: white;
    --red-color2: #d76b74;
    --red-color2-act: #ad4951;
    --red-color3: #f2b1c0;
    --red-color4: #ff91ab;

    --skyblue-color1: white;
    --skyblue-color2: #6bc9d7;
    --skyblue-color2-act: #5199a3;
    --skyblue-color3: #c6e3ee;
    --skyblue-color4: #d4e7ff;

    --yellow-color1: black;
    --yellow-color2: #f7e88a;
    --yellow-color2-act: #edd663;
    --yellow-color3: #f6f2a0;
    --yellow-color4: transparent;

    --green-color1: white;
    --green-color2: #6adea4;
    --green-color2-act: #56b858;
    --green-color3: #9df5c9;
    --green-color4: #c1e8d5;

    --purple-color1: white;
    --purple-color2: #ca7cfe;
    --purple-color2-act: #af23fb;
    --purple-color3: #d453ee;
    --purple-color4: #dd80ff;

    --blue-color1: white;
    --blue-color2: #7b69e0;
    --blue-color2-act: #604ccf;
    --blue-color3: #a79aed;
    --blue-color4: #c9c2f2;
}
/*공통 스타일*/
body {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: var(--color1);
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    text-decoration: none;
    color: inherit;
    text-align: center;
}

.bg {
  z-index: -1;
  position: fixed;
  top: -25vh;
  left: 0;
  height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    text-align: center;
}

/*메인로고*/
a#logo {
    /* font-family: var(--Eng-fonts); */
    font-family: var(--logo-fonts);
    /* font-size: 94pt; */
    font-size: 7rem;
    /* margin-top: 10px;
    margin-bottom: 30px; */
    text-decoration: none;
    color: var(--color1);
    text-align: center;
}
/*보라색 방지*/
a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
/*애니메이션 효과*/
@keyframes slideIn {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}
  
.animate {
    animation: slideIn 0.5s ease-out;
}

/*소제목*/

.explain {
    color: var(--color1);
    /* font-family: var(--Kor-fonts); */
    font-weight: bold;
    font-size: 20pt;
    margin-top: 0px;
    margin-bottom: 240px;
}
  .explain1 {
    font-size: 40pt;
    font-family: var(--explain-fonts);
  }
  .explain2 {
    font-size: 20pt;
    font-weight: normal;
    font-family: var(--explain-fonts);
  }

/*배경요소*/
.bg-tri1{
    top: 5vh;
    position: absolute;
    border-right: 300vh solid transparent;
    border-top: 100vh solid var(--color2);
    z-index: -1;
}

.bg-tri2{
    top: 15vh;
    position: absolute;
    border-right: 300vh solid transparent;
    border-top: 100vh solid var(--color3);
    z-index: -2;
}

.bg-rac{
    width: 100%;
    height: 100px;
    top: 0px;
    background-color: var(--color2);
    position: absolute;
    z-index: -1;
}

@media screen and (max-width: 768px) {
    /* main {
      margin-top: -15px;
    } */

    ::-webkit-scrollbar {
        -webkit-appearance: none;
    }
  
    a#logo {
      padding-top: 1rem;
      font-size: 4rem;
    }

    /* .bg-tri1, .bg-tri2 {
        border-right-width: 275vh;
        border-top-width: 75vh;
    } */

    .explain {
      font-size: 1.5rem;
      margin-bottom: 30vh;
    }

    .explain1 {
      font-size: 2.5rem;
    }
    

}

@font-face {
    font-family: 'Giants-Inline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KCC-eunyoung';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}