p {
    text-align: center;
    margin: 0
}

.Receive_button,
.Send_button{
    position: relative;
    /* left: 216px; */
    width: 200px;
    height: 60px;
    /* transform: translate(-50%, -50%); */
    background-color: rgba(255, 255, 255, 0)fff;
    border: none;
    text-align: center;
    font-family: var(--Kor-fonts);
    font-size: 20pt;
    color: var(--color1);
    background-color: var(--color2);
    line-height: 55px;
}
    .Send_button {
        /* top: 51px; */
        border-radius: 25px 25px 10px 10px;
    }

    .Receive_button {
        /* top: 54px; */
        margin-top: 3px;
        border-radius: 10px 10px 25px 25px;
    }

    .Receive_button:hover,
    .Send_button:hover {
        background-color: var(--color2-act);
    }

.noblue{
    text-decoration: none;
    color: inherit;
}
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translate(0, -25%);
    
    top: 51px;
    position: relative;
}