p {
    text-align: center;
    margin: 0
}

.sendmanager,
.send_to_cloud,
.file_select_rac{
    position: relative;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0)fff;
    border: var(--box-border) solid black;
}

.little_title {
    font-family: var(--Eng-fonts);
    text-decoration: none;
    font-size: 30pt;
    margin-top: -30px;
    margin-bottom: 0px;
}

.file_select_rac{
    top: calc(1/2*var(--wide-box-height));
    left: calc(
        1/2 * var(--inputrac-width) + 
        5/2 * var(--box-border)
    );
    width: var(--inputrac-width);
    height: var(--inputrac-height);
    border-radius: 20px 5px 5px 20px;
}

.send_to_cloud{
    top: calc(-1 * var(--inputrac-height) + -1px);
    left: calc(
        var(--inputrac-width) + 
        var(--short-button-width) / 2 + 
        11/2*var(--box-border)
    );
    width: var(--short-button-width);
    height: var(--inputrac-height);
    border-radius: 5px 20px 20px 5px;
    background-color: gray;
}
.send_to_cloud:hover{
    background-color: rgb(90, 90, 90);
}

.sendmanager{
    top: var(--control-box-top);
    left: calc(1/2 * var(--wide-box-width));
    width: var(--wide-box-width);
    height: var(--wide-box-height);
    border-radius: 25px 25px 25px 25px;
    margin-top: 240px;
}

#sendoutput {
	color: rgb(0, 0, 0);
    position: relative;
    cursor: pointer;
	border: none;
    top: calc(
        -1/2 * var(--inputrac-height) + 
        var(--box-border)
    );
    left: 7px;
    width: 280px;
	padding: 10px;
    font-size: 18px;
    font-family: var(--kor-fonts);
}

