<!DOCTYPE html>
{% load static %}
<html lang="ko">

  <head>
      <link rel="stylesheet" href="{% static 'fileapp/base.css' %}">
  
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nanum+Gothic:wght@700&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
  
      <style>
      </style>
  
      <meta charset="utf-8">
      <meta name="description" content="File.gq 파일 전송 서비스">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
      <title>File.gq</title>
  </head>
  
  <body>
      <header style="padding: 0;">
          <main>
            {% block content %}{% endblock %}
          </main>
      </header>
  </body>

</html>