 <!DOCTYPE html>
<html lang="ko">

<head>
    <link rel="stylesheet" href="static/fileapp/commonvalue.css">
    <link rel="stylesheet" href="static/fileapp/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&family=Noto+Sans:wght@900&display=swap" rel="stylesheet">

    <script src="static/fileapp/common.js"></script>

    <meta charset="utf-8">
    <meta name="description" content="File.gq 파일 전송 서비스">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>
</head>

<body>
    <header style="padding: 0;">
        <main>
        <div class="animate">
            <h1><a id="logo" href="/">File.gq</a></h1>

            <div class="explain">
            <p>파일 공유와 전송을 보다 간단하게</p>
            </div>

            <div class="buttons">
                <a class="noblue" href="/send">
                    <div class="Send_button">파일 보내기</div>
                </a>
    
                <a class="noblue" href="/receive">
                    <div class="Receive_button">파일 받기</div>
                </a>
            </div>
        </div>

            <div class="bg-tri1"></div>
            <div class="bg-tri2"></div>
            <div class="bg-rac"></div>
        </main>
    </header>
</body>

</html>