 <!DOCTYPE html>
<html lang="ko">

<head>
    <link rel="stylesheet" href="static/fileapp/commonvalue.css">
    <link rel="stylesheet" href="static/fileapp/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&family=Noto+Sans:wght@900&display=swap" rel="stylesheet">

    <script src="static/fileapp/common.js"></script>

    <meta charset="utf-8">
    <meta name="description" content="잠신고 파일 공유 서비스">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0-->

    <!-- 카톡 미리보기 정보 -->
    <meta property="og:url" content="https://jamsin.tk">
    <meta property="og:title" content="JAMSIN.TK">
    <meta property="og:type" content="website">
    <!-- <meta property="og:image" content="공유시 보여질 이미지 경로"> -->
    <meta property="og:description" content="파일 전송을 보다 간단하게">

    <title></title>
</head>

<body>
    <header style="padding: 0;">
      <main>
        <div class="animate">
            <h1><a id="logo" href="/">JAMSIN-FILE.KRO.KR</a></h1>

            <div class="explain">
                <p class="explain1">파일 전송을 보다 간단하게</p>
                <p class="explain2">잠신고 파일 공유 서비스 by RoDeLa</p>
            </div>

            <div class="buttons">
                <a id="send" class="noblue" href="/send">
                    <div class="Send_button">파일 보내기</div>
                </a>
    
                <a id="receive" class="noblue" href="/receive">
                    <div class="Receive_button">파일 받기</div>
                </a>
            </div>
        </div>
        <div class="bg">
            <div class="bg-tri1"></div>
            <div class="bg-tri2"></div>
            <div class="bg-rac"></div>
        </div>
      </main>
      
    </header>
  <script>
    document.getElementById("send").href = "/send?color=" + color;
    document.getElementById("receive").href = "/receive?color=" + color;
  </script>
</body>

</html>
