<!DOCTYPE html>
<html lang="ko">

<head>
    <link rel="stylesheet" href="static/fileapp/commonvalue.css">
    <link rel="stylesheet" href="static/fileapp/send.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&family=Noto+Sans:wght@900&display=swap" rel="stylesheet">

    <script src="static/fileapp/common.js"></script>

    <style>
    </style>

    <meta charset="utf-8">
    <meta name="description" content="잠신고 파일 공유 서비스">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>File.gq</title>
</head>

<body>
    <header style="padding: 0;">
        <main>
            <h1 class="animate"><a id="logo" href="/">JAMSIN-FILE.KRO.KR</a></h1>
            <div class="animate">
                <div class="explain">
                    <p>파일 보내기</p>
                </div>

                <div class="sendmanager">
                    <form id="form" action="{% url 'send' %}" method="POST" enctype="multipart/form-data">
                        <div class="file_select_rac"></div>
                        <input type="file" name="file" id="sendoutput">
                        {% csrf_token %}
                        <input type="submit" class="send_to_cloud" value="GO">
                        <label for="temporary" class="download-limit">내려받기 1회 제한</label>
                        <input type="checkbox" id="temporary" name="temporary" class="custom-checkbox">
                    </form>
                </div>
            </div>
            
        </main>
        <div class="bg">
            <div class="bg-tri1"></div>
            <div class="bg-tri2"></div>
            <div class="bg-rac"></div>
        </div>
    </header>
    <script>
      document.getElementById("form").action = "{% url 'send' %}?color=" + color;
    </script>
</body>

</html>
